<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>    About </title>
    <link rel="icon" href="../static/Images/OrgLOGO.svg">
    <link rel="stylesheet" href="../static/styles.css">
    <script defer src="../static/app.js"></script>

</head>
<body id="about-page">
    <!--navbar-->
    <header>
        <nav class="navbar">
            <div class="navbar__container">
                <a href="HomePage.html" id="navbar__logo">  <img src="../static/Images/OrgLOGO.svg" alt="LOGO" width="100px" height="100px">   Doggy Mister</a>
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="HomePage.html" class="navbar__links" id="home-page">Home</a>
                    </li>
                    <li class="navbar__item">
                        <a href="#about" class="navbar__links" id="about-page">About</a>
                    </li>
                    <li class="navbar__item">
                        <a href="SearchPage.html" class="navbar__links" id="search-page">Search</a>
                    </li>
                </ul>
            
            </div>
        </nav>
    </header>

    <div class="about-page">
        <div id="about-page">
            <h1>About</h1>
        </div>

        <div class="content">
            Doggy Mister is a platform for a doggy-sitter services. It fits to you wether you are a dog owner who is looking for
            a doggy-sitter services or a person with huge love for dogs who is looking for an income!

            In this website there is somehing that we all share- the love for dogs! 
            As a consumer, you can find a doggy-sitter near to your location, you can define the experience of the doggy sitter 
            you are aming for, the price you are willing to pay and more advanced settings!
            <br>
            <br>
            <br>
            <img src="../static/Images/OrgLOGO.svg" alt="LOGO"
                    width="150px" height="150px"> 
                    <br>
            So what are you waiting for? Sign up now and find what you wish for!
        </div>
        <a href="../views/Sign-up-page.html" class="btn"> Sign Up!</a>
    </div>
    <br>

    <footer class="site-footer">
        <div id="footer-content">
          <p>Doggy-Mister</p>
        </div>
      </footer>
   

      </body>