<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>    Search Page </title>
    <link rel="icon" href="../static/Images/OrgLOGO.svg">
    <link rel="stylesheet" href="../static/styles.css">
    <script defer src="../static/app.js"></script>
</head>

<body id="SearchPage">
    <header>
        <nav class="navbar">
            <div class="navbar__container">
                <a href="HomePage.html" id="navbar__logo">  <img src="../static/Images/OrgLOGO.svg" alt="LOGO"
                    width="100px" height="100px">   Doggy Mister</a>
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="HomePage.html" class="navbar__links" id="home-page">Home</a>
                    </li>
                    <li class="navbar__item">
                        <a href="About.html" class="navbar__links" id="about-page">About</a>
                    </li>
                    <li class="navbar__item">
                        <a href="SearchPage.html" class="navbar__links" id="search-page">Search</a>
                    </li>
                </ul>
            
            </div>
        </nav>
    </header>



    <header id="Search-Page-header">
        <h1>Search Page</h1>
    </header>


  <form action="" class="Search-form">
    <div class="form-group">
        <label>Max-Distance:</label>
        <input type="number" placeholder="Enter max relevant dist..">
    </div>

    <div class="form-group">
        <label>Max Cost:</label>
        <input type="number" placeholder="By $">
    </div>

    <div class="form-group">
        <label>Dog Size:</label>
        <input type="number"placeholder="By cm">
    </div>

    <div class="form-group">
        <label>Required Exp.</label>
        <input type="number" placeholder="By years">
    </div>

    <div class="form-group">
        <label>Key words:</label>
        <textarea name="Key-Words"></textarea>
    </div>

    <a href="../views/SearchResults.html"  class="SearchBtn" > Search</a>
  </form>

 

  <footer class="site-footer">
    <div id="footer-content">
      <p>Doggy-Mister</p>
    </div>
  </footer>

</body>
</html>