<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>    Sign In </title>
    <link rel="icon" href="../static/Images/OrgLOGO.svg">
    <link rel="stylesheet" href="../static/styles.css">
    <script defer src="../static/app.js"></script>
</head>
<body id="Sign-In-page">
    <header>
        <nav class="navbar">
            <div class="navbar__container">
                <a href="HomePage.html" id="navbar__logo">  <img src="../static/Images/OrgLOGO.svg" alt="LOGO"
                    width="100px" height="100px">   Doggy Mister</a>
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="HomePage.html" class="navbar__links" id="home-page">Home</a>
                    </li>
                    <li class="navbar__item">
                        <a href="About.html" class="navbar__links" id="about-page">About</a>
                    </li>
                    <li class="navbar__item">
                        <a href="SearchPage.html" class="navbar__links" id="search-page">Search</a>
                    </li>
                </ul>
            
            </div>
        </nav>
    </header>
<br>
<br>
<br>
<br>


<div class="Sign-in-page">
    <div id="Sign-in-title">
        <h1>Sign In</h1>
    </div><br>
    </div>

    <div class="container">
        <section class="signIn-page">
            <form class="sign-in-form">

                <div class="form-group">
                    <label>User Name:</label>
                    <input id="username" type="text"
                    placeholder="Enter User Name..">
                </div>

                <div class="form-group">
                <label for="pass">Password:</label><br>
                <input type="password" id="password" name="pass" placeholder="*********" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 characters or more" required>
            </div>

            <br>
            <br>
            
            <input type="button" class="button3" value="Submit" onclick="signIn()">

        </form>

        
    </section>
</div>

   

<footer class="site-footer">
    <div id="footer-content">
      <p>Doggy-Mister</p>
    </div>
  </footer>
    


</body>
</html>