<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>    My User </title>
    <link rel="icon" href="../static/Images/OrgLOGO.svg">
    <link rel="stylesheet" href="../static/styles.css">
    <script defer src="../static/app.js"></script>

</head>
<body id="UserPage">
    <!--navbar-->
    <header>
        <nav class="navbar">
            <div class="navbar__container">
                <a href="HomePage.html" id="navbar__logo">  <img src="../static/Images/OrgLOGO.svg" alt="LOGO" width="100px" height="100px">   Doggy Mister</a>
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="HomePage.html" class="navbar__links" id="home-page">Home</a>
                    </li>
                    <li class="navbar__item">
                        <a href="About.html" class="navbar__links" id="about-page">About</a>
                    </li>
                    <li class="navbar__item">
                        <a href="SearchPage.html" class="navbar__links" id="search-page">Search</a>
                    </li>
                </ul>
            
            </div>
        </nav>
    </header>
<br>
<br>
<br>
<br>
    <div class="User-Page-heder">
        <header id="User-Page-header">
            <h1>My User</h1>
        </header>
        </div>

        <br>

    <form action="" class="my-user-form">
        <div class="form-group">
        <label>Name:</label>
        <input type="text"
        placeholder="Enter Full Name..">

        <br>
        <br>

    <form action="" class="my-user-form">
        <div class="form-group">
        <label>User Name:</label>
        <input type="text"
        placeholder="Enter User Name..">
    </div>
 
<br>

<div class="form-group">
    <label>Email:</label>
<input type="email"
placeholder="aaa@mail.com"
>
</div>

<br>

<div class="form-group">
<label>Birth Date:</label>
<input type="date">
</div>

<br>


<div class="form-group">
    <label>Exp. by years:</label>
<input type="number"  min="0" max="100">
    </div>

<br>

<div class="form-group">
    <label>Max dog Size</label>
<input type="number"  min="0" max="100">
    </div>

    <br>
    <br>

<div class="form-group">
    <label>Required payment:</label>
<input type="number"  min="0" max="100">
    </div>

<br>

<div class="form-group">
    <label>About you:</label>
<textarea name="comments">  </textarea>

</div>

<br>

<div class="form-group">
    <label>Gender:</label>
<select name="gender">
    <option
    value="male">Male</option>
    <option
    value="male">Female</option>
    <option
    value="male">Other</option>
</select>
</div>

<br>


<input type="Submit" class="button2" value="Submit" name="">

        </form>

        
        <footer class="site-footer">
            <div id="footer-content">
              <p>Doggy-Mister</p>
            </div>
          </footer>
       

</body>
</html>