<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About</title>
        <link rel="icon" href="../static/Images/OrgLOGO.svg" />
        <link rel="stylesheet" href="../static/styles.css" />
        <script defer src="../static/app.js"></script>
    </head>

    <body id="about-page">
        <div class="about-page">
            <div id="about-page">
                <h1>About</h1>
            </div>

            <div class="content">
                Doggy Mister is a platform for a doggy-sitter services. It fits
                to you wether you are a dog owner who is looking for a
                doggy-sitter services or a person with huge love for dogs who is
                looking for an income! In this website there is somehing that we
                all share- the love for dogs! As a consumer, you can find a
                doggy-sitter near to your location, you can define the
                experience of the doggy sitter you are aming for, the price you
                are willing to pay and more advanced settings!
                <br />
                <br />
                <br />
                <img
                    src="../static/Images/OrgLOGO.svg"
                    alt="LOGO"
                    width="150px"
                    height="150px"
                />
                <br />
                So what are you waiting for? Sign up now and find what you wish
                for!
            </div>
            <a href="../views/sign-up" class="btn"> Sign Up!</a>
        </div>
        <br />
    </body>
</html>
